body{
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
}

#logo {
    margin: 0px;
    padding: 8px;
    width: 16%;  
}

ul {
    margin: 0px;

}
body{
    background-color: rgb(206, 178, 206);
    color: white;
}

body > header {
    background-color: rgb(180, 96, 180);
    color: white;
    display: flex;
    height: 16vh;
    align-items: center;
    justify-content: space-around;
}

#nav-ul{
    display: flex;

}

#nav-ul > li{
    padding: 30px;
    margin: 50px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;

}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
}

body > main article {
    width: 70%;
    margin: auto;

}

#main-content{
    display: flex;
    justify-content: space-around;
    text-align: center;

}

#paragraph{
    text-align: center;
}

#title{
    text-align: center;
}

#main-content > div{
    text-align: center;
    width: 70%;
}

form {
    text-align: center;

}


#updates{
    text-align: center;
}

body >  footer {
    display: flex;
}

img{
    border-radius: 50%;
}

body> footer{
    background-color: rgb(99, 15, 99);
}

#footer{
    color: white;
    text-align: center;
}

#footer-ul{
    display: flex;
    list-style: none;
    color: white;
}

#footer-ul > div > li{

    margin-top: 20px;

}

#footer-ul > div > li > a{
    color: white;
    text-decoration: none;
}
